<form ng-submit="customersCtrl.addCustomer()">
  <div class="form-group" ng-class="{ 'has-error': customersCtrl.errors.name }">
    <label for="customerName">Nombre</label>
    <input type="text" id="customerName" class="form-control"
    ng-model="customersCtrl.newCustomer.name">
    <div class="alert alert-danger" ng-if="customersCtrl.errors.name">
      {{customersCtrl.errors.name.join(", ")}}
    </div>
  </div>
  <div class="form-group" ng-class="{ 'has-error': customersCtrl.errors.address }">
    <label for="customerAddress">Dirección</label>
    <input type="text" id="customerAddress" class="form-control"
    ng-model="customersCtrl.newCustomer.address">
    <div class="alert alert-danger" ng-if="customersCtrl.errors.address">
      {{customersCtrl.errors.address.join(", ")}}
    </div>
  </div>
  <div class="form-group" ng-class="{ 'has-error': customersCtrl.errors.town }">
    <label for="customerTown">Localidad</label>
    <input type="text" id="customerTown" class="form-control"
    ng-model="customersCtrl.newCustomer.town">
    <div class="alert alert-danger" ng-if="customersCtrl.errors.town">
      {{customersCtrl.errors.town.join(", ")}}
    </div>
  </div>
  <div class="form-group" ng-class="{ 'has-error': customersCtrl.errors.city }">
    <label for="customerCity">Provincia</label>
    <input type="text" id="customerCity" class="form-control"
    ng-model="customersCtrl.newCustomer.city">
    <div class="alert alert-danger" ng-if="customersCtrl.errors.city">
      {{customersCtrl.errors.city.join(", ")}}
    </div>
  </div>
  <div class="form-group" ng-class="{ 'has-error': customersCtrl.errors.zip_code }">
    <label for="customerZipCode">Código Postal</label>
    <input type="text" id="customerZipCode" class="form-control"
    ng-model="customersCtrl.newCustomer.zip_code">
    <div class="alert alert-danger" ng-if="customersCtrl.errors.zip_code">
      {{customersCtrl.errors.zip_code.join(", ")}}
    </div>
  </div>
  <div class="form-group" ng-class="{ 'has-error': customersCtrl.errors.country }">
    <label for="customerCountry">País</label>
    <input type="text" id="customerCountry" class="form-control"
    ng-model="customersCtrl.newCustomer.country">
    <div class="alert alert-danger" ng-if="customersCtrl.errors.country">
      {{customersCtrl.errors.country.join(", ")}}
    </div>
  </div>
  <div class="form-group" ng-class="{ 'has-error': customersCtrl.errors.cif }">
    <label for="customerCif">Cif</label>
    <input type="text" id="customerCif" class="form-control"
    ng-model="customersCtrl.newCustomer.cif">
    <div class="alert alert-danger" ng-if="customersCtrl.cif.name">
      {{customersCtrl.errors.cif.join(", ")}}
    </div>
  </div>
  <div class="form-group" ng-class="{ 'has-error': customersCtrl.errors.email }">
    <label for="customerEmail">Email</label>
    <input type="text" id="customerEmail" class="form-control"
    ng-model="customersCtrl.newCustomer.email">
    <div class="alert alert-danger" ng-if="customersCtrl.errors.email">
      {{customersCtrl.errors.email.join(", ")}}
    </div>
  </div>
  <div class="form-group" ng-class="{ 'has-error': customersCtrl.errors.phone }">
    <label for="customerPhone">Teléfono</label>
    <input type="text" id="customerPhone" class="form-control"
    ng-model="customersCtrl.newCustomer.phone">
    <div class="alert alert-danger" ng-if="customersCtrl.errors.phone">
      {{customersCtrl.errors.phone.join(", ")}}
    </div>
  </div>
  <button type="submit" class="btn btn-primary" ng-disabled="customersCtrl.disableForm()">Crear</button>
</form>
