<ul class="list-group">
  <li class="list-group-item"><strong>Nombre:</strong> {{customerCtrl.customer.name}}</li>
  <li class="list-group-item"><strong>Dirección:</strong> {{customerCtrl.customer.address}}</li>
  <li class="list-group-item"><strong>Localidad:</strong> {{customerCtrl.customer.town}}</li>
  <li class="list-group-item"><strong>Provincia:</strong> {{customerCtrl.customer.city}}</li>
  <li class="list-group-item"><strong>Cógido Postal:</strong> {{customerCtrl.customer.zip_code}}</li>
  <li class="list-group-item"><strong>País:</strong> {{customerCtrl.customer.country}}</li>
  <li class="list-group-item"><strong>Email:</strong> {{customerCtrl.customer.email}}</li>
  <li class="list-group-item"><strong>Teléfono:</strong> {{customerCtrl.customer.phone}}</li>
</ul>
