<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
      data-target="#mallesti-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="main.customers">Mallesti</a>
    </div>
    <div class="collapse navbar-collapse" id="mallesti-navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="">{{headerCtrl.email}}</a></li>
        <li><a ng-click="headerCtrl.logout()" href="">Cerrar sesión</a></li>
      </ul>
    </div>
  </div>
</nav>
