<nav ng-if="ctrl.currentPage">
  <ul class="pagination">
    <li ng-class="{ disabled: !ctrl.prevPage }">
      <a ui-sref="main.customers-paginate({page: ctrl.prevPage})" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li ng-repeat="page in ctrl.totalPages" ng-class="{ active: page == ctrl.currentPage }">
      <a ui-sref="main.customers-paginate({page: page})">{{page}}</a></li>
    </li>
    <li ng-class="{ disabled: !ctrl.nextPage }">
      <a ui-sref="main.customers-paginate({page: ctrl.nextPage})" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
